.block {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    transition: .2s background-color linear;
    background-color: var(--BG_0);

    &.hoverable:hover {
        background-color: var(--BG_1);
    }
}