html {
    --GREEN:#5CB85C;
    --RED: #eb3f2f;
    --YELLOW: #f2c037;
    --LIGHT_BLUE: #3fa9f5;
    --BLUE: #186ef0;

    --VK: #0077ff;
    --DISCORD: #5865F2;
    --TELEGRAM: #3390ec;

    --BG_0: #ffffff;
    --BG_1: #f7f7f7;
    --BG_2: #eeeeee;
    --BG_3: #b5b5b5;
    --BG_4: #2d2d2e;
    --BG_5: #1e1e1e;

    --FG_0: #ffffff;
    --FG_1: #b5b5b5;
    --FG_2: #757575;
    --FG_3: #464747;
    --FG_4: #1e1e1e;
}