::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border-radius: 9999px;
    border: 3px solid #00000000;
    background-color: #00000030;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #00000070;
}
::-webkit-scrollbar {
    width: 12px;
    position: fixed;

    @media screen and (max-width: 700px) {
        width: 9px;
    }
}
* {
    scrollbar-width: thin;
    scrollbar-color: #00000070 #00000000;
}

